.roadmap_title
  %h1 Projected Roadmap
.roadmap
  .container{style: "width: #{(@total_longest_estimate.to_i + 1)*100}px; height: #{(@swimlanes.length + 1) * 202 + 50}px"}
    -@swimlanes.each_with_index do |swimlane, swimlane_index|
      .swimlane{style: "width: #{(@total_longest_estimate.to_i + 1)*100}px; top: #{swimlane_index * 202 + 50}px"}
        -swimlane.each do |product_id, range|
          -product = Product.find(product_id)
          .swimlane_item{style: "background: #{product.longest_estimate[:resource].color}; width: #{(range[:end] - range[:start] + 1) * 100 - 1}px; left: #{range[:start] * 100}px"}
            .title= product.title
            .resources
              -unless product.resources_for_pipeline.blank?
                -product.resources_for_pipeline.each do |resource, estimate|
                  -if !estimate.eql?(0)
                    %p.resource{style: "width: #{estimate * 100 - 1}px; background: #{resource.color}"}= "#{resource.title}: #{estimate}"
    .timeline
      .weeks
        -(@total_longest_estimate.to_i + 1).times do |i|
          .week
            .line
              %p.week_title= "week #{i+1}"
.legend
  -Resource.all.each do |r|
    %p{style: "background: #{r.color}"}= r.title
