.roadmap_title
  %h1 Projected Roadmap
.roadmap
  .container{style: "width: #{(@total_longest_estimate.to_i + 1)*100}px"}
    -@products.each do |p|
      .pipeline
        -unless p.longest_estimate[:resource].blank?
          .pipeline_item{style: "background: #{p.longest_estimate[:resource].color}; width: #{p.longest_estimate[:estimate] * 100 - 1}px"}
            .title= "#{p.title} (priority: #{p.priority})"
            .resources
              -unless p.resources_for_pipeline.blank?
                -p.resources_for_pipeline.each do |resource, estimate|
                  -if !estimate.eql?(0)
                    %p.resource{style: "width: #{estimate * 100 - 1}px; background: #{resource.color}"}= "#{resource.title}: #{estimate} week(s)"
    .timeline
      .weeks
        -(@total_longest_estimate.to_i + 1).times do |i|
          .week
            .line
              %p.week_title= "week #{i}"
.legend
  -Resource.all.each do |r|
    %p{style: "background: #{r.color}"}= r.title
