= simple_form_for @resource, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :capacity
  = f.input :color
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), resources_path, :class => 'btn'
