- model_class = Resource
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:capacity)
      %th= model_class.human_attribute_name(:color)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @resources.each do |resource|
      %tr
        %td= link_to resource.title, resource_path(resource)
        %td= resource.capacity
        %td{style: "color: white; background: #{resource.color};"}= resource.color
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_resource_path(resource), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), resource_path(resource), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_resource_path, :class => 'btn btn-primary'
