- model_class = Resource
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @resource.title
%p
  %strong= model_class.human_attribute_name(:capacity) + ':'
  %br
  = @resource.capacity

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), resources_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_resource_path(@resource), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), resource_path(@resource), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
