= simple_nested_form_for @epic, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :priority
  = f.association :product
  = f.input :description
  = f.input :stake_holders

  = f.fields_for :epic_resources do |epic_resource_form|
    = epic_resource_form.association :resource
    = epic_resource_form.input :time_estimation
    = epic_resource_form.link_to_remove "Remove this resource"
  %p= f.link_to_add "Assign an additional resource", :epic_resources

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), epics_path, :class => 'btn'
