- model_class = Epic
= link_to t('.new', :default => t("helpers.links.new")), new_epic_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:priority)
      %th= model_class.human_attribute_name(:product)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:stake_holders)
      - Resource.all.each do |resource|
        %th= "#{resource.title} IDM"
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - epics.each do |epic|
      %tr
        %td= epic.priority
        %td= epic.product.title unless epic.product.blank?
        %td= link_to epic.title, epic_path(epic)
        %td= epic.stake_holders
        - Resource.all.each do |resource|
          %th= epic.estimate_for(resource)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_epic_path(epic), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), epic_path(epic), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_epic_path, :class => 'btn btn-primary'
