- model_class = Epic
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @epic.title
%p
  %strong= model_class.human_attribute_name(:priority) + ':'
  %br
  = @epic.priority
%p
  %strong= model_class.human_attribute_name(:product) + ':'
  %br
  = @epic.product.title unless @epic.product.blank?
%p
  %strong= model_class.human_attribute_name(:stake_holders) + ':'
  %br
  = @epic.stake_holders
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @epic.description

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), epics_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_epic_path(@epic), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), epic_path(@epic), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
