// Place all the styles related to the roadmap controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.roadmap_title {
  height: 0px;
  width: 550px;
  margin-left: -365px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  h1 {
    margin-left: -200px;
  }
}

.roadmap {
  width: 100%;
  overflow: scroll;
  border: 1px solid #eee;

  .container {
    position: relative;
    height: auto;
    .pipeline {
      .pipeline_item {
        height: 250px;
        color: white;
        border-right: 1px solid white;
        .title {
          font-size: 20px;
          margin: 2px;
          padding-top: 10px;
        }
        .resources {
          margin-top: 20px;
          p.resource {
            border: 1px solid white;
            border-left: none;
          }
        }
      }
    }
    .pipeline:first-child {
      margin-top: 60px;
    }
    .swimlane {
      position: absolute;
      .swimlane_item {
        position: absolute;
        height: 200px;
        color: white;
        border-right: 1px solid white;
        .title {
          font-size: 20px;
          margin: 5px;
        }
        .resources {
          margin-top: 20px;
          p.resource {
            border: 1px solid white;
            border-left: none;
          }
        }
      }
    }

    .timeline {
      position: absolute;
      width: auto;
      top: 0px;

      .weeks {
        width: auto;
        .week {
          width: 99px;
          height: 50px;
          border-right: 1px solid #ddd;
          float: left;
          text-align: center;
          .line {
            margin-top: 15px;
            margin-bottom: 8px;
            border-top: 1px solid #ddd;
          }
        }
      }
    }
  }
}

.legend {
  margin-top: 10px;
  color: white;
  width: 100px;
}
