= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :priority
  = f.input :vision
  = f.input :scope
  = f.input :features
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn'
