- model_class = Product
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:priority)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:vision)
      %th= model_class.human_attribute_name(:scope)
      - Resource.all.each do |resource|
        %th= "#{resource.title} IDM"
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @products.each do |product|
      %tr
        %td= product.priority
        %td= link_to product.title, product_path(product)
        %td= product.vision
        %td= product.scope
        - Resource.all.each do |resource|
          %th= product.estimate_for(resource)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(product), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), product_path(product), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_product_path, :class => 'btn btn-primary'
