- model_class = Product
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @product.title
%p
  %strong= model_class.human_attribute_name(:priority) + ':'
  %br
  = @product.priority
%p
  %strong= model_class.human_attribute_name(:vision) + ':'
  %br
  = @product.vision
%p
  %strong= model_class.human_attribute_name(:scope) + ':'
  %br
  = @product.scope
%p
  %strong= model_class.human_attribute_name(:features) + ':'
  %br
  = @product.features

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), products_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(@product), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), product_path(@product), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

.page-header
  %h1=t '.title', :default => "Epics of Product: #{@product.title}"
= render :partial => 'epics/list', locals: { epics: @epics }
